<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="simulation">

  <xacro:include filename="$(find ros2_control_wheelchair)/description/material/wheelchair.materials.xacro" />

  <xacro:include filename="$(find ros2_control_wheelchair)/description/urdf/wheelchair_description.urdf.xacro" />
 
  <xacro:wheelchair/>

  <xacro:include filename="$(find ros2_control_explorer)/description/urdf/explorer_POC2_description.urdf.xacro" />

  <xacro:explorer_POC2_description/>

  <xacro:include filename="$(find gripper_pincette)/description/urdf/gripper_pincette_description.urdf.xacro"/>
  
  <xacro:gripper_pincette/>

  <link name="camera_explorer"/>

  <link name="user_vision_camera"/>

  <link name="fixation">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="file://$(find explorer_on_wheelchair)/description/meshes/visual/fixation.dae" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="file://$(find explorer_on_wheelchair)/description/meshes/collision/fixation.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
    <inertial>
      <origin rpy="0 0 0" xyz="0 -0.03 -0.03"/>
      <mass value="0.5"/>
      <inertia ixx="0.00084166666" ixy="0" ixz="0" iyy="0.000675" iyz="0" izz="0.00084166666"/>
    </inertial>
  </link>

  <joint name="wheelchair_fixation" type="fixed">
    <origin xyz="0.1 -0.29 0.038" rpy="0 0 0"/>
    <parent link="seat"/>
    <child link="fixation"/>
  </joint>

  <joint name="fixation_explorer" type="fixed">
    <origin xyz="0.0 -0.075 0.0" rpy="0 0 0"/>
    <parent link="fixation"/>
    <child link="base_link"/>
  </joint>

  <joint name="joint_6" type="revolute">
    <parent link="link_5"/>
    <child link="structure"/>
    <origin xyz="0 0.1555 -0.027" rpy="${pi/2} ${pi} ${pi}"/>
    <axis xyz="0 0 -1"/>
    <limit effort="1000.0" lower="-2.97" upper="2.97" velocity="10"/>
  </joint>

  <joint name="joint-ft_frame" type="fixed">
    <parent link="structure"/>
    <child link="ft_frame"/>
    <origin xyz="0.011 0 0.15" rpy="0 0 0"/>
  </joint>

  <joint name="camera_joint" type="fixed">
    <parent link="structure"/>
    <child link="camera_explorer"/>
    <origin xyz="0.011 0 0.105" rpy="0 ${-pi/2} 0"/>
  </joint>

  <joint name="eye_camera_joint" type="fixed">
    <parent link="head_up_down"/>
    <child link="user_vision_camera"/>
    <origin xyz="0.1 0 0" rpy="0 0 0"/>
  </joint>

  <joint name="joint-tool" type="fixed">
    <parent link="ft_frame"/>
    <child link="tool0"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  
  <xacro:include filename="$(find explorer_on_wheelchair)/description/ros2_control/simulation.ros2_control.xacro" />
   
  <xacro:simulation_ros2_control name="simulation"/>
   
  <xacro:include filename="$(find explorer_on_wheelchair)/description/gazebo/simulation.gazebo.xacro" />
  <xacro:simulation_gazebo/>
   
</robot>